@use './global.scss';


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: black;
    height: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer_logo {
    width: 122px;
    fill: white;
}

p {
    margin-top: 28px;
    font-size: 1.5rem;
    color: white;
}