@use './header.scss';
@use './footer.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@400&family=Spectral&display=swap');

$border-rad:25px; 


* {
    margin: 0;
    font-family: 'Montserrat';
}


header, main {
    max-width: 1240px;
    margin: 45px auto 50px auto;
}

.banner{
    position: relative;
    height: 220px;
    
    &__title {
        position: absolute;
        inset: 0;
        text-align: center;
        line-height: 220px;
        font-size: 3rem;
        color: white;
    }
    
    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: $border-rad;


    }
    &::before {
        content:"";
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: $border-rad;
        z-index: 0;
    }

}

.articles {
    margin-top: 43px;
    padding: 50px;
    background-color: #F6F6F6;
    border-radius: $border-rad;
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr 1fr 1fr;

    .article {
        position: relative;

        &__image {
            width: 100%;
            height: 340px;
            object-fit: cover;
            border-radius: 10px;
        }

        &__txt {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            padding: 50px 20px 20px 20px;
            color: white;
            font-size: 1.125rem;
            background: linear-gradient(#FFFFFF00, #000000bd);
            
        }
    }
}