@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@400&family=Spectral&display=swap');

$border-rad:25px; 


* {
    margin: 0;
    font-family: 'Montserrat';
}

body {
    max-width: 1240px;
    margin: auto;
}