header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 210px;
    height: 68px;
    fill: #FF6060;
}

.navbar {
    list-style: none;
    display: flex;


    &__link {
        font-size: 1.5rem;
        color: #FF6060;
        text-decoration: none;
        margin-left: 57px;
        
        &.active {
            text-decoration: underline;
        }
    }
}